<h1>5d4</h1>

<div>
    <ul>
      <li><%= @random4 %></li>
      <li><%= @random4_2 %></li>
      <li><%= @random4_3 %></li>
      <li><%= @random4_4 %></li>
      <li><%= @random4_5 %></li>
    </ul>
</div>
